.visited-item {
  list-style-type: none;
  background-color: #1f1f2f;
  width: 32%;
}

.visited-image {
  width: 100%;
}

.visited-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.visited-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.visited-button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid #ffffff;
}
